<!-- CategoryList START -->
            <div class="widget categorylist" id="widgetdd0a6215-8f33-441e-83c8-9f2ae0abae27">
              <h4 class="widget-header">
                  文章分類
                  <span class="pull-right"></span>
              </h4>
              <div class="widget-content">
                <ul id="categorylist">
                  <li>
                    <a href="http://blog.miniasp.com/category/feed/Net.aspx" rel="nofollow"><img src="/assets/images/rssButton.png" alt="RSS feed for .Net" class="rssButton"></a><a href="http://blog.miniasp.com/category/Net.aspx"
                      title="分類: .Net">.Net (199)</a></li>
                  <li>
                    <a href="http://blog.miniasp.com/category/feed/Accessibility.aspx" rel="nofollow"><img src="/assets/images/rssButton.png" alt="RSS feed for Accessibility" class="rssButton"></a><a href="http://blog.miniasp.com/category/Accessibility.aspx"
                      title="分類: Accessibility">Accessibility (3)</a></li>
                  <li>
                    <a href="http://blog.miniasp.com/category/feed/AngularJS.aspx" rel="nofollow"><img src="/assets/images/rssButton.png" alt="RSS feed for AngularJS" class="rssButton"></a><a href="http://blog.miniasp.com/category/AngularJS.aspx"
                      title="分類: AngularJS">AngularJS (7)</a></li>
                  <li>
                    <a href="http://blog.miniasp.com/category/feed/ASPNET.aspx" rel="nofollow"><img src="/assets/images/rssButton.png" alt="RSS feed for ASP.NET" class="rssButton"></a><a href="http://blog.miniasp.com/category/ASPNET.aspx"
                      title="分類: ASP.NET">ASP.NET (217)</a></li>
                </ul>

              </div>
            </div>
            <!-- CategoryList END -->